<h1>New movie</h1>

<% @the_movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%=form_with(model: @the_movie) do |form|%>
  <div>
    <%= form.label(:title)%>
    <%= form.text_field(:title)%>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 3 %>
    <%= form.button%>
<%end%>
